<%= form_for @contact, :html => {:class => "form_class"} do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :newsletter %><br />
    <%= f.check_box :newsletter, :checked => true  %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.select :sex, ['Male', 'Female']%> 
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :size => "29x50" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
